@import url(https://fonts.googleapis.com/css?family=Khula:700);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(20 20 20);
    transition: .3s ease all;
}

/* welcome */
.hidden {
    opacity:0;
  }

.console-container {
 
    font-family:Khula;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
.console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  .section2{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 1);

} 
/* final welcome*/



/* contenedor */
.section1{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} 



.contenedor{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.contenedor .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.contenedor .card .contenido{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.contenedor .card:hover .contenido{
    opacity: 1;
}

.contenedor .card .contenido .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.contenedor .card .contenido .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor .card .contenido .contentBx h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.contenedor .card .contenido .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.contenedor .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.contenedor .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0.5;
    transition-delay: calc(0.1s * var(--i));
    transform: translateY(-5px);
}

 .contenedor .card:hover .sci li{
    opacity: 1;
} 
.contenedor .card .sci li a{
    color: white;
    font-size: 24px;
}

/* final contenedor */ 


/* WAVE  */

.section1 .wave{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4973ff;
}

.section1 .wave span{
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}

.section1 .wave span:nth-child(1)
{
    animation: animate 5s linear infinite;
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
}

.section1 .wave span:nth-child(2)
{
    animation: animate 10s linear infinite;
    border-radius: 45%;
    background: rgba(20, 20, 20, 0.5);
}

.section1 .wave span:nth-child(3)
{
    animation: animate 15s linear infinite;
    border-radius: 45%;
    background: rgba(20, 20, 20, 0.5);
}

@keyframes animate 
{
    0%
    {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* WAVE FINAL */

/* wave text */

.section3{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: rgba(58 57 57);
    clip-path: circle(180vh at 50% -80vh);
    
}
.liquid {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
   left: 5%;

}

.liquid h2 {
    margin: 3%;
    position: absolute;
    font-size: 4vw;
    box-sizing: border-box;
} 

.liquid h2:nth-child(1)
{
    color: #fff;
}

.liquid h2:nth-child(2)
{
    color: #4973ff;
    opacity: 0.5;
    animation: animwave 3s ease-in-out infinite;
}

.liquid h2:nth-child(3)
{
    color: #4973ff;
    opacity: 0.5;
    animation: animwave 6s ease-in-out infinite;
}
.liquid h2:nth-child(4)
{
    color: #4973ff;
    animation: animwave 4s ease-in-out infinite;
}
@keyframes animwave 
{
    0%,100%
    {
        clip-path: polygon(0% 46%, 16% 45%, 34% 52%, 50%
        61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 59%, 18% 67%, 36% 70%, 51% 66%,
         66% 56%, 82% 49%, 100% 45%, 100% 100%, 0% 100%);
    }
}
/* wave text final */


/* gallery proyects */
.panels {
    margin: 3%;
    display: flex;
    bottom: 5%;
    padding: 1.5em;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .panels .panel {
    flex-shrink: 0;
    width: 20em;
    height: 33.75em;
    outline: 0.25em solid rgba(26, 97, 203, 0);
    transition: 500ms;
    position: relative;
    
  }
  .panels .panel:not(:last-child) {
    margin-right: 1.5em;
  } 
  .panels .panel .background:after,
  .panels .panel .text > * {
    transition: transform 200ms, opacity 200ms;
  }
  .panels .panel .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 100ms;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .panels .panel .background:before, .panels .panel .background:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .panels .panel .background:before {
    opacity: 0;
  }
  .panels .panel .background:after {
    opacity: 0.4;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(23, 86, 181, 0.6) 70%, #04152f 100%);
  }
  .panels .panel .text {
    cursor: default;
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: -2.5em;
    
  }
  .panels .panel .text .title {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 2em;
    color: white;
  }
  .panels .panel.hover, .panels .panel:hover {
    outline: 0.875em solid #4973ff;
    transition: 300ms;
  }

  
  .panels .panel.hover .background, .panels .panel:hover .background {
    transition: 125ms;
    top: -0.5em;
    left: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
  }
  .panels .panel.hover .background:after, .panels .panel:hover .background:after {
    opacity: 1;
  }
  .panels .panel.hover .text > *, .panels .panel:hover .text > * {
    transform: translate3d(0, -3.5rem, 0);
  }
  .panels .panel.hover .text .title, .panels .panel:hover .text .title {
    transition-delay: 60ms;
  }

/*gallery final */

/* scroll */

.icono-scroll, .icono-scroll::before {
    position: absolute;
    top: 210%;
    left: 50%;
    transform: translateX(-50%);
}

.icono-scroll{
    width: 40px;
    height: 70px;
    border: 2px solid #4973ff;
    border-radius: 25px;
    cursor: pointer;
    bottom: 2rem;
}

.icono-scroll::before {
    content: '';
    width: 8px;
    height: 8px;
    background: white;
    margin-left: -4px;
    top: 15px;
    border-radius: 50%;
    animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}

/* scroll fin*/


/* primer ola */

.ola {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(img/wavee.png);
  background-size: 1000px 100px;
  animation: animateola 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.ola#ola1 
{
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}

.ola#ola2
{
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}

.ola#ola3
{
  z-index: 998;
  opacity: 0.2;
  background-position-x: 200px;
}

.ola#ola4
{
  z-index: 997;
  opacity: 0.7;
  background-position-x: 100px;
}

@keyframes animateola 
{
  0%,100%
  {
    transform: translateY(0px);
  }
  50%
  {
    transform: translateY(10px);
  }
}

/* primer ola final */


/* dark and light*/

button{
  left: 95%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.switch{
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #ffffff;
}

.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0,0.2);
}

.switch.active{
  background: orange;
  color: #000;
}

.switch.active::after{
  right: unset;
  left: 0;
}

body.light {
  background-color: #ffffff;
}

body.light .section2{
  background-color: #ffffff;
  transition: .3s ease all;
}



body.light .icono-scroll::before{
  background: #4973ff;
  transition: .3s ease all;
}

body.light .section1 .wave span{
  background: #ffffff;
  transition: .3s ease all;
}

body.light .contenedor .card{
  background: rgba(0, 0, 0, 0.788);
}
/* dark and light final*/



/* top */
.top {
  position: fixed;
  bottom: 10px;
  right: 3vh;
  padding: 10px 12px;
  background: rgba(0, 0, 0, 0.719);
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.top:hover {
  text-decoration: none;
  background: rgb(0, 0, 0);
 
}

/* top final */

/* responsive*/

@media screen and (max-width:1200px){
  .switch {
    position: relative;
    left: 93%;
  }
}

@media screen and (max-width:768px){

}

@media screen and (max-width:500px){

  .switch {
    position: relative;
    left: 87%;
  }
  .console-container {
    left: -8%;
    font-size:300%;
    padding-right: 1%;
  }

}

@media screen and (max-width:480px){
  .switch {
    position: relative;
    left: 85%;
  }
  .console-container {
    left: -20%;
    font-size:300%;
    padding-right: 1%;
  }
}

@media screen and (max-width:345px){
  .console-container {
    left: -30%;
    font-size:250%;
  }
  .switch {
    position: relative;
    left: 79%;
  }
}

/* responsive final */



/*  de mientras
media (max-width:390px){
  .panels{
    flex-direction: column;
  }

  .section3{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    background-color: rgb(58, 57, 57);
}

.liquid {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  
}

.liquid h2 {
  margin: 3%;
  position: absolute;
  font-size: 4vw;
  box-sizing: border-box;
 
} 
}
*/